{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block slider %}
{% endblock %}

{% block sidemenu %}
{% endblock %}

{% block search %}
{% endblock %}

{% block content %}
<div class="about">
  <div class="container">
         <div class="register">
			   <div class="col-md-6 login-left">
			  	 <h3>NEW CUSTOMERS</h3>
				 <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
				 <a class="acount-btn" href="{{ url_for('registration') }}">Create an Account</a>
			   </div>
			   <div class="col-md-6 login-right">
			  	<h3>REGISTERED CUSTOMERS</h3>
				<p>If you have an account with us, please log in.</p>
				<form action="/login" method="POST">
                    {{ form.csrf_token }}
                    {% for field in form if field.name != 'csrf_token' %}
				  <div>
					<span>{{ field.label }}<label>*</label></span><br>
                        {{ field(size=32) }}
				  </div>
                    {% if field.errors %}
                            <ul class="alert alert-danger">
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                      {% endfor %}
				  <input type="submit" value="Login">
			    </form>
			   </div>	
			   <div class="clearfix"> </div>
		</div>
	</div>
</div>
{% endblock %}